body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-family:Calibri;
}

aside {
    float: left
}

header, footer {
    background-color: #474747;
    color: white;
    text-align: center;
    padding: 1em;
}

img {
    float: right;
  }
