body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-family:Calibri;
}

aside {
    background-color: #d40e0e;
}

header, footer {
    background-color: #474747;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    background-color: #0ed43f;
}