
body {
  /* Standard color */
    background-color: #FFFFFF;
    color: rgb(67, 65, 65);
    font-family:"Calibri";
    margin: 0;
    padding: 0;
}

.color-container {
  /* Text color for filter side */
    text-align: left;
    padding-left: 10px;
}

.main-container {
  /* Background color  */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    background-color: #BEBFC5;
    padding: 10px;
  }

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #BEBFC5;
  }


.item-container > div {
  /* Each product square */
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border-radius: 30px;
    aspect-ratio: 1 / 1;
  }

  .item-container > div > img {
    /* Image of each product */
    padding: 10px;
    height: 200px;
    aspect-ratio: 1 / 1;
  }

.top-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    background-color: #726E97;
    padding: 10px;
  }

.top-container > button {
  /* Category buttons */
    background-color: #ff5964;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family: Calibri;
    border-radius: 20px;
    border: none;
  }

.top-container > button:hover {
  /* Category button hover color */
    background-color: #ff727b;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family: Calibri;
    border-radius: 20px;
    border: none;
  }
  
aside {
  /* Filter to the left side */ 
    background-color: #726E97;
    color: white;  
    text-align: left;
    border-radius: 30px;
}

header, footer {
    background-color: #726E97;
    color: white;
    text-align: center;
    padding: 1em;
}
