<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon</title>
    <link rel="stylesheet" type="text/css" href="static/website.css">
</head>
<body>
    <header>
        <button onclick="location.href='/about'" class="button">Go to About Page</button>
        <h1>Amazon</h1>
    </header>

    <div class="top-container">
        <div>Home</div>
        <div>Bady</div>
        <div>Games</div>  
        <div>Lifestyle</div>
        <div>Trips</div>
        <div>Decoration</div>  
        <div>Clothes</div>
        <div>Slay</div>
    </div>
    <header>
        <h1>About us</h1>
    </header>
    <div class="about-text">
        Vi blir tvingade att göra en hemsida inom tillämpadprogramering och vi har valt att 
        göra en hemsida som är en kopia av Amazon. Vi har valt att göra en kopia av Amazon 
        för att det är en hemsida som vi använder ofta och vi tycker att det är en bra hemsida. 
        Vi har valt att göra en kopia av Amazon för att det är en hemsida som vi använder ofta 
        och vi tycker att det är en bra hemsida. Vi har valt att göra en kopia av Amazon för att 
        det är en hemsida som vi använder ofta och vi tycker att det är en bra hemsida. Vi har 
        valt att göra en kopia av Amazon för att det är en hemsida som vi använder ofta och vi 
        tycker att det är en bra hemsida. Vi har valt att göra en kopia av Amazon för att det 
        är en hemsida som vi använder ofta och vi tycker att det är en bra hemsida. Vi har valt
        att göra en kopia av Amazon för att det är en hemsida som vi använder ofta och vi tycker 
        att det är en bra hemsida.
    </div>
    
        
    <footer>
        <p>Copyright 2024&copy;</p>
    </footer>
</body>
</html>
