<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon</title>
    <link rel="stylesheet" type="text/css" href="static/website.css">
    <script src="static/js/script.js" defer></script>
</head>
<body>
    <header>
        <img src="static\icons\good_logo.png.png"  alt="Image not found" style="width: 300px; height: 220px;">

    <div style="text-align: right;">
        <button onclick="redirectToCheckout('Cart')" class="button">
            <img src="static/icons/cart.png" alt="Cart" style="width: 30px; height: 30px;">
        </button>

        <div style="text-align: left;">
            <a href="/login" style="color: white;">Login</a>
        </div>
        <div style="text-align: left;">
            <a href="/register" style="color: white;">Register</a>
        </div>

        <div style="text-align: right;">
            <form action="/search" method="post">
                <input type="text" name="search" placeholder="Search..">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>

    <div class="top-container">
        <button id = "HomeBUtton" onclick="redirectToProducts('Home')" class="button">Home</button>
        <button id = "EletronicsButton" onclick="redirectToProducts('Electronics')" class="button">Electronics</button>
        <button id = "GamesButton" onclick="redirectToProducts('Games')" class="button">Games</button>
        <button id = "ToysButton" onclick="redirectToProducts('Toys')" class="button">Toys</button>
        <button id = "BooksButton" onclick="redirectToProducts('Books')" class="button">Books</button>
        <button id = "HealthButton" onclick="redirectToProducts('Health')" class="button">Health</button>
        <button id = "ClothesButton" onclick="redirectToProducts('Clothes')" class="button">Clothes</button>
        <button id = "AdultsButton" onclick="redirectToProducts('Adults')" class="button">Adults</button>
    </div>

        

    <div class="main-container">
        <aside>
            <h2>Filter</h2>

            <p>Price range</p>
            <input type="range" min="0" max="1000" value="0" class="" id="minRange" oninput="updateSliderValue()">
            <span id="minValueDisplay">0</span>

            <input type="range" min="0" max="1000" value="1000" class="slider" id="maxRange" oninput="updateSliderValue()">
            <span id="maxValueDisplay">1000</span>
            
            <p>Color</p>

            <div class="color-container">
                <input type="checkbox" id="black" name="black" value="color">
                <label for="black"> Black</label><br>
                <input type="checkbox" id="white" name="white" value="color">
                <label for="white"> White</label><br>
                <input type="checkbox" id="red" name="red" value="color">
                <label for="red"> Red</label><br>
                <input type="checkbox" id="blue" name="blue" value="color">
                <label for="blue"> Blue</label><br>
                <input type="checkbox" id="green" name="green" value="color">
                <label for="green"> Green</label><br>
                <input type="checkbox" id="yellow" name="yellow" value="color">
                <label for="yellow"> Yellow</label><br>
                <input type="checkbox" id="Brown" name="Brown" value="color">
                <label for="Brown"> Brown</label><br>
                <input type="checkbox" id="Purple" name="Purple" value="color">
                <label for="Purple"> Purple</label><br>
                <input type="checkbox" id="Grey" name="Grey" value="color">
                <label for="Grey"> Grey</label><br>
            <div>
        </aside>

        <div class="item-container">
            {% for path in image_paths %}
            <div>
                <div>{{ path[0] }}</div>
                <img src="{{ path[2] }}" alt="Image not found">
                <div>{{ path[1] }}&#36;</div>
                <!-- Adjust the onclick event to pass item details -->
                <button onclick="addToCart('{{ path[0] }}', '{{ path[3] }}', '{{ path[1] }}')" class="add-to-cart-button">
                <img src="static\icons\add-to-cart-icon-add-to-card-button-on-transparent-background-free-png.webp" 
                alt="Add to cart" style="width: 120px; height: 60px;">
                <style>
                    .add-to-cart-button {
                        border: none;
                        background-color: white;
                    }
                </style>
                </button>
            </div>
            {% endfor %}

            
        </div>

    </div>

    <footer>
        <p>&copy; Copyright 2024 Amazon.se</p>
    </footer>
</body>
</html>
