<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon</title>
    <link rel="stylesheet" type="text/css" href="static/website.css">
</head>
<body>
    <header>
        <button onclick="location.href='/about'" class="button">Go to About Page</button>
        <h1>Amazon</h1>
    </header>

    <div class="top-container">
        <div>Home</div>
        <div>Body</div>
        <div>Games</div>  
        <div>Lifestyle</div>
        <div>Trips</div>
        <div>Decoration</div>  
        <div>Clothes</div>
        <div>Workout</div>
    </div>

    <div class="main-container">
        <aside>
            <p>Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>

            </p>
        </aside>
        <div class="item-container">

                {% for url in image_urls %}
                    <div>
                        <img src="{{ url }}" alt="Image Description", height=200, width=200>
                    </div>
                {% endfor %}
        
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
            <div>5</div>
            <div>6</div>  
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
            <div>5</div>
            <div>6</div>  
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
            <div>5</div>
            <div>6</div>  
            <div>7</div>
            <div>8</div>
            <div>9</div>
        </div>
    </div>

    <footer>
        <p>Copyright 2024&copy;</p>
    </footer>
</body>
</html>
