<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amazon</title>
    <link rel="stylesheet" type="text/css" href="static/website.css">
</head>
<body>
    <header>
        <h1>Amazon</h1>
    </header>

    <main>
        <p>This is exampel text i dont know what to write</p>
        <a href="https://www.w3schools.com">Visit W3Schools</a><br>
        <img src="https://m.media-amazon.com/images/I/81NUv6aRqsL._AC_SL1500_.jpg" width="500" height="500">
    </main>

    <aside>
        <p>Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>

        </p>
    </aside>

    <footer>
    </footer>
</body>
</html>
