<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amazon</title>
    <link rel="stylesheet" type="text/css" href="static/website.css">
</head>
<body>
    <header>
        <h1>Amazon</h1>
    </header>

    <div class="top-container">
        <div>Home</div>
        <div>Bady</div>
        <div>Games</div>  
        <div>Lifestyle</div>
        <div>Trips</div>
        <div>Decoration</div>  
        <div>Clothes</div>
        <div>Slay</div>
    </div>
    <div class="main-container">
        <aside>
            <p>Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
                Hello world<br>
            </p>
        </aside>
        <div>1</div>
        <div>2</div>
        <div>3</div>  
        <div>4</div>
        <div>5</div>
        <div>6</div>  
        <div>7</div>
        <div>8</div>
        <div>9</div>
    </div>


    <footer>
    </footer>
</body>
</html>
