<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amazon</title>
    <link rel="stylesheet" type="text/css" href="static/website.css">
</head>
<body>
    <header>
        <h1>Amazon</h1>
    </header>

    <aside>
        <p>Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>
            Hello world<br>

        </p>
    </aside>
    
    <main>
        <p>This is exampel text i dont know what to write</p>
        <a href="https://www.w3schools.com">Visit W3Schools</a><br>
    </main>


    <footer>
    </footer>
</body>
</html>
